<div class="container">
  <h1>Editing user</h1>

  <%= render "form", user: @user %>
  
  <br>
  
  <div>
    <%= link_to "[ Cancel and return to Blog ]", root_path %>
    <% if logged_in? && @user == current_user %>
      <%= button_to "Edit Account", edit_user_path(@user), class: "btn btn-outline-warning mb-2" %>
      <%= button_to "Delete Account", @user, method: :delete, data: { confirm: "Are you sure you want to delete your account?" }, class: "btn btn-outline-danger" %>
    <% end %>
  </div>
</div>