<div class="container">
  <h1 class="text-center">Sign Up for the Blog</h1>

  <%= render "form", user: @user %>

  <br>

  <div>
    <%= link_to "[ Cancel and return to Blog ]", articles_path %>
  </div>
</div>
