<div class="container jumbotron">
    <div class="text-center jumbo-text-container">
        <h1>Welcome!</h1>
        <p>Welcome to Brian's blog site, click below to explore...</p>
        <button class="btn btn-primary">
            Continue
        </button>
    </div>
</div>