<div class="container jumbotron">
    <div class="text-center jumbo-text-container">
        <h1>Welcome!</h1>
        <p>Welcome to Brian's blog site, click below to explore...</p>
        <%= link_to "Sign Up!", signup_path, class: "btn btn-success btn-lg" %>
    </div>
</div>