<div class="container">
    <% if notice%>
    <div  class="alert alert-success alert-dismissible fade show m-2" role="alert">
    <p><%= notice %></p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% end %>
    <div class="jumbotron">
        <div class="text-center jumbo-text-container">
            <h1>Welcome!</h1>
            <p>Welcome to Brian's blog site, click below to explore...</p>
            <%= link_to "Sign Up!", signup_path, class: "btn btn-success btn-lg" %>
        </div>
    </div>
</div>