html,
body {
    height: 100%;
}

#logo {
    float: left;
    font-size: 1.7em;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#page-content {
    flex: 1 0 auto;
    background-color: #e6e6e6;
}

#sticky-footer {
    flex-shrink: none;
}

.jumbotron {
    
    background-image: url('jumbotron.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;


}

.jumbo-text-container {
    margin: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    color: #fafafa;
    background-color: rgba(0,0,0,0.4);
}

.description {
    height: 80px;
}

.edit-button {
    text-decoration: none;
}

.edit-button:hover {
    color: #fafafa;
}